name: Terraform Plan
on: workflow_dispatch
env:
  TF_VERSION: 0.14
defaults:
  run:
    working-directory: terraform
jobs:
  terraform:
    name: Plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1.2.1
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: Terraform Init
        run: |
          terraform init \
          -backend-config="key=terraform.tfstate" \
      - name: Terraform Validate
        run: terraform validate
      - name: Terraform Plan
        run: terraform plan -out=tfplan
      - name: Terraform Show
        run: |
          terraform show -json tfplan > tfplan.json
          jq -Rr . tfplan.json